!!! html
%html(lang="en")
%head
	%a(href="/rss.xml" rel="alternate" type="application/rss+xml")
	%meta(charset="utf8")
	%title #{@title} | #{SITE_TITLE}
	%link(href="/reset.csS" rel="stylesheet")
	%link(href="/style.css" rel="stylesheet")
%body
	%header
		%hgroup
			%h1
				%a(href="/")
					= SITE_TITLE
			%h2
				= SITE_DESCRIPTION

	%div#main
		- if flash[:notice]
			%p.notice
				= flash[:notice]
		- if flash[:error]
			%p.error
				= flash[:error]
		= yield

	%footer
		%p
			<small>An app from <a href="http://www.johnjorg.com">John Jorgensen</a>
